* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisEscuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--escuro);
    color: var(--claro);
}

.particles {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.4;
    background: 
    radial-gradient(circle at 10% 20%, var(--primaria) 0%, transparent 20%),
    radial-gradient(circle at 90% 80%, var(--secundaria) 0%, transparent 20%)
    var(--maisEscuro);
}

@keyframes flutuar {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}


.navegacao {
    position: fixed;
    top: 0;
    background-color: rgba(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu {
    display: flex;
    list-style: none;
    gap: 3rem;
    justify-content: center;
}

.menu_link {
    color: var(--claro);
    text-decoration: none;
    position: relative;
    font-weight: 500;
    padding: 0.5rem 0;
}

.menu_link::after {
    content: "";
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.5s ease;
}

.menu_link:hover::after {
    width: 100%;
}

.cabecalho {
    margin-top: 20px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.foto_perfil {
    width: 300px;
    height: 300px;
    box-shadow: 0 0 20px var(--primaria),
        0 0 60px var(--secundaria);
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    animation: flutuar 4s ease-in-out infinite;
}
.social_buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn_social{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    border: 1px solid #7b5cff;
    color: white;
}

.btn_social i{
    font-size: 18px;
}

.btn_social:hover{
    transform: translateY(-3px);
    background: linear-gradient(90deg,#6a5cff,#9c4dff);
}

/* cores opcionais */
.github:hover{
    box-shadow: 0 0 15px rgba(255,255,255,0.3);
}

.linkedin:hover{
    box-shadow: 0 0 15px rgba(0,119,181,0.5);
}
.btn_github,
.btn_deploy{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
/* GLOW NEON */

.titulo_principal{
color:#9c4dff;
text-shadow:
0 0 10px var(--primaria),
0 0 20px var(--secundaria);
}

.foto_perfil{
box-shadow:
0 0 20px var(--primaria),
0 0 40px var(--secundaria);
}

/* ICONES TECNOLOGIA */

.tech_icons{
display:flex;
gap:12px;
font-size:28px;
margin:15px 0;
}

.tech_icons i{
transition:.3s;
}

.tech_icons i:hover{
transform:scale(1.2);
filter:drop-shadow(0 0 6px #9c4dff);
}

/* SKILLS */
.titulo_secao{
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 40px;

}
#skills{
padding:80px 20px;
}

.skills_container{
max-width:700px;
margin:auto;
}

.skill{
margin-bottom:25px;
}

.skill span{
color:white;
}

.barra{
width:100%;
height:10px;
background:rgba(255,255,255,.1);
border-radius:20px;
margin-top:8px;
overflow:hidden;
}

.progresso{
height:100%;
border-radius:20px;
background:linear-gradient(90deg,#6a5cff,#9c4dff);
animation:animarSkill 4s forwards;
}

/* níveis */

.java{width:80%;}
.spring{width:70%;}
.react{width:60%;}
.js{width:75%;}

@keyframes animarSkill{
from{width:0}
}

h1{
    font-size: 3.0rem;
    margin: 20px;
    color: var(--primaria);
    font-weight: bold;
}

.paragrafo_subtitulo {
    text-align: center;
    font-size: 1.5rem;
    color: var(--claro);
}


.sobre {
    padding: 6rem 2rem;
}

.sobre_titulo {
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 20px;
}

.sobre_caixa {
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
}

.sobre_paragrafo {
    text-align: center;
    font-size: 1rem;
}

#projetos{
    padding: 80px 20px;
    text-align: center;
}


.container_projetos{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* CARD */

.card_projeto{
    width: 320px;
    background: rgba(255,255,255,0.05);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.08);
    overflow: hidden;
    transition: 0.3s;
}

.card_projeto:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 25px rgba(138,43,226,0.3);
}

.card_projeto img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

/* CONTEÚDO */

.card_conteudo{
    padding: 20px;
    text-align: left;
}

.card_conteudo h3{
    color: #ffffff;
    margin-bottom: 10px;
}

.card_conteudo p{
    color: #cfcfcf;
    font-size: 14px;
    margin-bottom: 15px;
}

.tecnologias{
    display: block;
    font-size: 13px;
    color: #9c9cff;
    margin-bottom: 18px;
}

/* BOTÕES */

.links_projeto{
    display: flex;
    gap: 10px;
}

.btn_deploy,
.btn_github{
    flex: 1;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

/* Deploy */

.btn_deploy{
    background: linear-gradient(90deg,#6a5cff,#9c4dff);
    color: white;
}

.btn_deploy:hover{
    transform: scale(1.05);
}

/* Github */

.btn_github{
    border: 1px solid #9c4dff;
    color: #9c4dff;
}

.btn_github:hover{
    background: #9c4dff;
    color: white;
}

.img_projeto {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.contato {
    padding: 6rem 2rem;
}

.contatos_titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.contato_form {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;
}

.campo_form {
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid var(--vidro);
    background: rgba(255, 255, 255, 0.1);
    color: var(--claro);
    outline: none;
}

.campo_form:focus {
    border-color: var(--secundaria);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}

.grupo_form {
    margin-bottom: 1.5rem;
}

.botao_form {
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    border: none;
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    color: var(--claro);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
}

.botao_form:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
}


/* BOTÃO HAMBURGER */
.menu_toggle {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    position: absolute;
    right: 30px;
}

.menu_toggle span {
    width: 28px;
    height: 3px;
    background: white;
    border-radius: 5px;
    transition: 0.3s;
}

/* Animação X */
.menu_toggle.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu_toggle.active span:nth-child(2) {
    opacity: 0;
}

.menu_toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

@media (max-width: 768px) {

    .menu_toggle {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background: rgba(15, 23, 42, 0.98);
        padding: 2rem 0;
        gap: 2rem;
        transform: translateY(-150%);
        transition: 0.4s ease;
    }

    .menu.active {
        transform: translateY(0);
    }
}

